<p><strong>Estad&iacute;sticas:</strong></p>
<p>- N&uacute;mero de preguntas: <%= questions %></p>
<p>- N&uacute;mero de comentarios totales: <%= comments %></p>
<p>- N&uacute;mero medio de comentarios por pregunta: <%= comments / questions %></p>
<p>- N&uacute;mero de preguntas sin comentarios: <%= questions_without_comments %></p>
<p>- N&uacute;mero de preguntas con comentarios: <%= questions_with_comments %></p>

