<form method="get" action="/quizes/<%= quiz.id %>/answer">
	Tema: <%= quiz.tema %> <p><br/>
	Pregunta: <%= quiz.pregunta %> <p>
	<input type="text" name="respuesta" value="Respuesta" />
	<input type="submit" value="Enviar">
</form>

<p><strong>Comentarios:</strong></p>
<%for(index in quiz.Comments){%>
	<p>- <%=quiz.Comments[index].texto%></p>
<%}%>
<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo</button></a></p>
